.canvas {
    height: 12.5vh;
    width: 100vh;
    display: flex;
    flex-direction: row;
 }
 .cell{
    height: 12.5vh;
    width: 12.5vh;
    display: flex;
    flex-direction: row;
}
.black-cell{
    background-color: black;
}
.white-cell{
     background-color: white;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
