header {
    height: 10vh;
    margin-bottom: 15vh;
    font-size: 2em;
    
}
body {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.input-group {
    width: 90vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
   }
.show-word {
    width: 90vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
}
#response-field {
    margin-top: 5vh;
    margin-bottom:5vh;
    width: 90vw;
    height: 20vh;
   font-size: 1em;
   text-justify: auto;
   display: flex;
   flex-direction: column;
}
#input-id{
    height: 20vh;
}
#input-limit-id {
    margin-top: 3vh;
    width: 10vw;
}
#go-id {
    height: 7vh;
    width: 15vw;
    margin-top: 3vh;
    align-self: flex-end;
}